/* Styles.css */
/* For mobile */
.dataGridContainer {
    width: '100%'; /* Full width on mobile */
    
  }
  
  /* For desktop */
  @media (min-width: 1200px) { /* Adjust breakpoint as needed */
    .dataGridContainer {
      max-width: 2000px; /* Adjust max-width as needed for larger screens */
      margin: 0 auto; /* Center the DataGrid */
    
    }
  }