body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.responsiveImage {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
  /* object-fit: cover; Cover the container, you can use 'contain' if you don't want to crop the image */
  
}
/* Styles.css */
/* For mobile */
.dataGridContainer {
  width: '100%'; /* Full width on mobile */
  
}


@media (min-width: 768px) { /* Adjust this value based on your needs */
  .responsiveImage {
    /* Adjustments for mobile view */
    width: 20%; /* Example adjustment */
    height: auto; /* Adjust if necessary */
  }
  .dataGridContainer {
    max-width: 2000px; /* Adjust max-width as needed for larger screens */
    margin: 0 auto; /* Center the DataGrid */
  
  }

}


